          <%= image_tag(@congress_person.picture_id) %>
        </div>

        <div class="block-left">
          <h2>
            <%= @congress_person.first_name %> <%= @congress_person.last_name %>
          </h2>

          <% if @congress_person.party == 'D' %>
            <h5>Democrat</h5>
          <% else %>
            <h5>Republican</h5>
          <% end %>

          <% if @congress_person.phone_number %>
            <p><i class="fa fa-phone">  </i><%= @congress_person.phone_number %></p>
          <% end %>

          <p><i class="fa fa-twitter"></i><%= link_to @congress_person.twitter_account, "http://twitter.com/#{@congress_person.twitter_account}" %></p>

          <% if @congress_person.facebook_account %>
            <p><i class="fa fa-facebook-square"></i> <%= link_to @congress_person.facebook_account, "http://facebook.com/#{@congress_person.facebook_account}" %></p>
          <% end %>

          <p><i class="fa fa-link"></i>  <%= link_to @congress_person.website_url, "#{@congress_person.website_url}" %></p>

          <% if @congress_person.youtube_id %>
            <p><i class="fa fa-youtube"></i>  <%= @congress_person.youtube_id %></p>
          <% end %>

          <i class="fa fa-users"></i>   <b><%= link_to 'What are people saying?',  data_visualization_path(@congress_person)%></b>
        </div>

        <div class="block-right">
          <p>Missed votes: <%= @congress_person.missed_votes_pct %>%</p>
          <p>Votes with party: <%= @congress_person.votes_with_party_pct %>%</p>
          <p>Seniority: <%= @congress_person.seniority %></p>
          <% if @congress_person.title == "Congressperson" %>
            <p>District: <%= link_to @congress_person.district, "https://www.govtrack.us/congress/members/map" %></p>
          <% end %>
          <p>Next Election: <%= @congress_person.next_election %></p>
        </div>