<p id="notice"><%= notice %></p>
<div class="container">
  <div class="inner">
    <center><h1>
    <%= link_to @congress_person.state.name, state_path(@congress_person.state.abbreviation) %>
  </h1></center>


    <div id="border">
    <div class="congress-about">
      <div class="block-left">
        <%= image_tag(@congress_person.picture_id) %>
      </div>
      <div class="block-left">
        <h3>
          <%= @congress_person.first_name %> <%= @congress_person.last_name %>
        </h3>

        <p>Phone Number: <%= @congress_person.phone_number %></p>
        <p>Twitter Account: <%= link_to @congress_person.twitter_account, "http://twitter.com/#{@congress_person.twitter_account}" %></p>
        <p>Website: <%= link_to @congress_person.website_url, "#{@congress_person.website_url}" %></p>
        <% if @congress_person.youtube_id %>
          <p>Youtube ID:<%= @congress_person.youtube_id %></p>
        <% end %>
      </div>


      <div class="block-right">
        <p>Missed votes: <%= @congress_person.missed_votes_pct %>%</p>
        <p>Votes with party: <%= @congress_person.votes_with_party_pct %>%</p>
        <p>Seniority: <%= @congress_person.seniority %></p>
        <p>District: <%= @congress_person.district %></p>
        <p>Next Election: <%= @congress_person.next_election %></p>
      </div>
    </div>

    <button type="submit" name="email" class="btn" >Send Email</button>

    <div class="congress-email" id="congress-email" style="display: none;">
      <%= form_tag congress_person_path(@congress_person), method: 'put' do %>
        <center>
          <%= text_field_tag :email, nil, {placeholder: 'Enter Your Email'} %>
          <%= submit_tag "Send Email", :class => 'btn' %>


        <br><br>
        <%= text_area_tag :email_text, nil, {placeholder: 'Write what you want to email your congress person.'} %><br>
        </center>
      <% end %>
    </div>

    <div class="congress-content">
      <button type="submit" name="bills" class="btn" >Bills</button>
      <button type="submit" name="articles" class="btn" >Articles</button>

  <!-- Hidden Bills -->
    <div class="row-submit" id="congress-bills" style="display: none;">
      <% @bills.each do |bill| %>
        <%= link_to bill.pdf_url do %>
          <div class="congress-content-democrat">
            <center>
              <p><i><%= bill.bill_id %></i></p>
              <h3><%= bill.official_title %></h3>
              <p><%= bill.short_title %></p>
            </center>
            <p>Introduced on: <b><%= bill.introduced_on %></b></p>
            <p>Last Version: <b><%= bill.last_version_on %></b></p>
          </div>
        <% end %>
      <% end %>
    </div>

      <!-- Hidden Articles -->
      <div class="row-submit" id="congress-articles" style="display: none;">
        <% @articles.each do |article| %>
          <%= link_to article.url do %>
            <div class="congress-content-democrat">
              <h3><%= article.title %></h3>
              <p><%= article.first_paragraph %></p>
              <p><%= article.publication_date %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>






