<p id="notice"><%= notice %></p>
<div class="container">
  <div class="inner">
    <div class="congress-about">
      <%= image_tag(@congress_person.picture_id) %>
      <p>
        <%= @congress_person.first_name %> <%= @congress_person.last_name %>
      </p>
    </div>

    <div class="congress-email">
      <%= form_tag congress_person_path(@congress_person), method: 'put' do %>
        <%= text_field_tag :email, nil, {placeholder: 'Enter Your Email'} %><br>
        <%= text_area_tag :email_text, nil, {placeholder: 'Write what you want to email your congress person.'} %><br>
        <%= submit_tag("Email") %>
      <% end %>
    </div>
    <button type="submit" name="bills">Bills</button>
    <button type="submit" name="articles">Articles</button>

<!-- Hidden Bills -->
  <div class="row-submit" id="congress-bills" style="display: none;">
    <% @bills.each do |bill| %>
      <h3><%= bill.bill_id %></h3>
    <% end %>
  </div>

  <!-- Hidden Articles -->
  <div class="row-submit" id="congress-articles" style="display: none;">
    <% @articles.each do |article| %>
      <h3><%= article.title %></h3>
    <% end %>
  </div>

  </div>
</div>






