<p id="notice"><%= notice %></p>
<div class="container">
  <div class="inner">
    <div class="congress-about">
      <%= image_tag(@congress_person.picture_id) %>
      <p>
        <%= @congress_person.first_name %> <%= @congress_person.last_name %>
      </p>
    </div>

    <div class="congress-email">
      <%= form_tag congress_person_path(@congress_person), method: 'put' do %>
        <%= text_area_tag(:email) %><br>
        <%= submit_tag("Search") %>
      <% end %>


    </div>

    <div class="congress-content">

    </div>

  </div>
</div>





