<%= form_for(@articles_legislation) do |f| %>
  <% if @articles_legislation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@articles_legislation.errors.count, "error") %> prohibited this articles_legislation from being saved:</h2>

      <ul>
      <% @articles_legislation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :references %><br>
    <%= f.text_field :references %>
  </div>
  <div class="field">
    <%= f.label :references %><br>
    <%= f.text_field :references %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
