<h1>Listing articles_legislations</h1>

<table>
  <thead>
    <tr>
      <th>References</th>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles_legislations.each do |articles_legislation| %>
      <tr>
        <td><%= articles_legislation.references %></td>
        <td><%= articles_legislation.references %></td>
        <td><%= link_to 'Show', articles_legislation %></td>
        <td><%= link_to 'Edit', edit_articles_legislation_path(articles_legislation) %></td>
        <td><%= link_to 'Destroy', articles_legislation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Articles legislation', new_articles_legislation_path %>
