<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @articles_legislation.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @articles_legislation.references %>
</p>

<%= link_to 'Edit', edit_articles_legislation_path(@articles_legislation) %> |
<%= link_to 'Back', articles_legislations_path %>
