<div class="container">
  <div class="inner">
    <h1><%= @state.abbreviation %></h1>

    <div id="senator-list">
      <center><h2>Senators</h2></center>

      <% @senators.each do |senator| %>
        <% if senator.party == "D" %>
          <div class="senator-card-democrat">
            <div class="democrat">
              <%= image_tag(senator.picture_id) %>
            </div>
            <div class="politician-data">
              <h2><%= senator.first_name %> <%= senator.last_name %></h2>
              <p><%= senator.votes_with_party_pct %> %</p>
            </div>
          </div>
        <% else %>
          <div class="senator-card-republican">
            <div class="republican">
              <%= image_tag(senator.picture_id) %>
            </div>
            <div class="politician-data">
              <h2><%= senator.first_name %> <%= senator.last_name %></h2>
              <p><%= senator.votes_with_party_pct %> %</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <center><h2>Congress People</h2></center>
  </div>

  <div id="frame" data-no-turbolink>
    <ul class="slidee">
      <% @congress_people.each do |congress_person| %>
        <% if congress_person.party == "D" %>
        <% else %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

