<div class="container" id="state" data-no-turbolink>
  <div class="inner">
    <center><h1><%= @state.name %></h1></center>
    <div id="senator-list">
      <% @senators.each do |senator| %>
        <%= link_to senator do %>
          <% if senator.party == "D" %>
            <div class="senator-card-democrat">
              <div class="democrat">
                <%= image_tag(senator.picture_id) %>
              </div>
              <div class="politician-data">
                <h2><%= senator.first_name %> <%= senator.last_name %></h2>
                <p>Democrat</p>
                <p><%= senator.title %></p>
              </div>
            </div>
          <% else %>
            <div class="senator-card-republican">
              <div class="republican">
                <%= image_tag(senator.picture_id) %>
              </div>
              <div class="politician-data">
                <h2><%= senator.first_name %> <%= senator.last_name %></h2>
                <p>Republican</p>
                <p><%= senator.title %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<!--   <div id="frame">
    <ul class="slidee"> -->
      <% @congress_people.each do |congress_person| %>
      <%= link_to congress_person do %>
<!--         <li> -->
        <% if congress_person.party == "D" %>
            <div class="senator-card-democrat">
              <div class="democrat">
                <%= image_tag(congress_person.picture_id) %>
              </div>
              <div class="politician-data">
                <h2><%= congress_person.first_name %> <%= congress_person.last_name %></h2>
                <p>Democrat</p>
                <p><%= congress_person.title %></p>
              </div>
            </div>

            <div class="article democrat">
            <% congress_person.articles.each do |article| %>
            <div class="senator-card-democrat">
              <h2><%= article.title %></h2>
            </div>
            <% end %>
        </div>

        <% else %>
          <div class="senator-card-republican">
            <div class="republican">
              <%= image_tag(congress_person.picture_id) %>
            </div>
            <div class="politician-data">
              <h2><%= congress_person.first_name %> <%= congress_person.last_name %></h2>
              <p>Republican</p>
              <p><%= congress_person.title %></p>
            </div>
          </div>

          <div class="article republican">
          <% congress_person.articles.each do |article| %>
           <div class="senator-card-republican">
            <div class="republican">
            <h2><%= article.title %></h2>
          </div>
            </div>
          <% end %>
        </div>
        <% end %>
        <% end %>

<!--         </li> -->
      <% end %>
<!--     </ul>
  </div> -->


</div>


