<div id="frame">
    <ul class="slidee">
      <% @legislations.each do |legislation| %>
        <li>
          <h3><%= legislation.title %></h3>
          <p align="justify"><%= legislation.abstract %></p>
          <p>legislation: <%= legislation.type %></p>
          <p>publication date: <%= legislation.publication_date %></p>
          <p>proposal date: <%= legislation.proposal_date %></p>
          <%= link_to 'Articles', legislation_path(legislation) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
