<!DOCTYPE html>
<html>
	<head>
	  <title>Govreggator</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	   <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBRb2m50gfiBRFC2ibKnUXEazcbBom2J3I">
      </script>
    <script src="http://www.neveldo.fr/mapael/source/js/raphael/raphael-min.js"></script>
    <script src="http://www.neveldo.fr/mapael/source/js/jquery.mapael.js"></script>
    <script src="http://www.neveldo.fr/mapael/source/js/maps/usa_states.js"></script>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render partial: '/nav' %>
		<%= yield %>
		<%= yield(:head) %>
		<%= yield :scripts %>
	</body>
</html>
