<!DOCTYPE html>
<html>
	<head>
	  <title>Govreggator</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	   <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBRb2m50gfiBRFC2ibKnUXEazcbBom2J3I">
      </script>
      <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render partial: '/nav' %>
		<%= yield %>
		<%= yield(:head) %>
		<%= yield :scripts %>
		<br><br>
		<footer>
			<%= link_to 'DBC.WBC.2014', "http://github.com/woolly-bear-caterpillars-2014/gov"%>
			<%= render partial: '/fb_like' unless @skip_footer %>
		</footer>
	</body>
</html>
