<!DOCTYPE html>
<html>
	<head>
	  <title>LegiStat.us</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
	  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	   
	   <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?sensor=false&key=<%= ENV['GOOGLEMAPS_API_KEY'] %>">
      </script>

    

	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render partial: '/nav' %>
		<%= yield %>
		<%= yield(:head) %>
		<%= yield :scripts %>
		<br><br>
		<footer>
			<%= render partial: '/fb_like' unless @skip_footer %>
		</footer>
	</body>
</html>
